body {
    margin: 0;
    background-color: #1b244a;
    color: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score-card {
    background-color: #080001;
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-size:5em;
    width: 155px;
    height: 120px;
    line-height: 120px;
    border-radius: 10px;
    color: #f94f6d;
    align-content: center;
}

.buttons-div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.score-btn {
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    background-color:#1b244a;
    border: 1px solid #9aabd8;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    color: #9aabd8;
}